* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px 0 0 60px;
  font-family: "宋体";
  font-size: 18px;
  color: rgb(0, 31, 63);
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.login-box {
  display: block;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: inline-block;
  width: 72px;
  text-align: center;
}

input {
  margin: 10px 0;
}

input[type=text],
input[type=password] {
  width: 240px;
  height: 30px;
  outline: none;
  border: 2px solid black;
  border-radius: 11px;
  padding-left: 14px;
  font-size: 18px;
}

form {
  text-align: center;
}

button {
  width: 106px;
  height: 45px;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 18px;
  border: 0;
  border-radius: 7px;
  background: #e8e8e8;
  box-shadow: 5px 5px 10px #c5c5c5,
    -5px -5px 10px #ffffff;
  cursor: pointer;
}

.status {
  text-align: center;
  color: red;
  font-weight: 700;
  margin: 10px 0;
}